@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import './utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  list-style: none;
}

body {
  font-family: 'Arial', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: steelblue;
}

@import './timer';
